{% extends 'htmls/base.html' %}
{% block body_block %}
    <div class="jumbotron">
        <h2>API List Address</h2><br>
        <ul>
            <li><h4><a href="http://127.0.0.1:8000/URLROUTE/data/" target="_blank">All User JSON Data</a></h4></li>
            <li><h4><a href="http://127.0.0.1:8000/URLROUTE/new_user/" target="_blank">New User Reg</a></h4></li>
            <li><h4><a href="http://127.0.0.1:8000/URLROUTE/aniketrathore/all/" target="_blank">Delete OR Update</a>
            </h4></li>
            <li><h4><a href="http://127.0.0.1:8000/URLROUTE/aniketrathore/update/" target="_blank">Update Password</a>
            </h4></li>
            <p><i style="font-size: x-small">Change Username In URL For Another Updating</i></p>
        </ul>
    </div>
{% endblock %}